<!DOCTYPE html>
<html lang="en,rus">
<head>
    <meta charset="UTF-8">
    <title>Собрание</title>
</head>
<body>
<h1 align="center"> УВАЖАЕМЫЙ СОБСТВЕННИК!</h1>
<h4 align="center"> Просим Вас принять участие в общем собрании собственников помещений в многоквартирном доме, 
<p> расположенном по адресу: г. Минск, ул. Алибегова, дом № 6.</p></h4>
<h4> <p>Повестка дня общего собрания собственников помещений:</p>


<p> 1. Проведение собрания в форме очно-заочного голосования.</p>
  <p>2. Утверждение председателя и секретаря общего собрания и наделение указанных лиц полномочиями по произведению подсчета голосов, оформлению и подписанию протокола общего собрания.</p>
  <p>3. Утверждение Управляющей организации для заключения с ней договора управления многоквартирным домом.</p>
  <p>4. Утверждение условий договора управления многоквартирным домом между Управляющей организацией и собственником в предлагаемой редакции.</p>
  <p>5. Утверждение размера платы за содержание и ремонт общего имущества многоквартирного дома, в том числе платы за управление многоквартирным домом.</p>
 <br>
<p>Все желающие посетить собрание будут оповещены в ближайшие дни о конкретной дате проведения. Просьба заполнить форму для обратной связи.</p></h4>
<br><br> <h5>Ваше имя и контактный номер телефона</h5>
<form method="post" action="/add_message">
    <input type="text" name="text">
    <input type="text" name="tag">
    <button type="submit">Добавить в список</button>
</form>

<h5>Список участников</h5>
{% for message in messages %}
<div>{{ message.text }}&nbsp;
    {% for tag in message.tags %}
        <b>-{{ tag.text }}</b>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>
